[submodule "third-party/stb"]
	path = third-party/stb
	url = git@github.com:nothings/stb.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "third-party/gzip-hpp"]
	path = third-party/gzip-hpp
	url = git@github.com:mapbox/gzip-hpp.git
[submodule "third-party/imgui-filebrowser"]
	path = third-party/imgui-filebrowser
	url = git@github.com:Mickelbil84/imgui-filebrowser.git
[submodule "third-party/native_message_box"]
	path = third-party/native_message_box
	url = git@github.com:thegabman/native_message_box.git
[submodule "third-party/stduuid"]
	path = third-party/stduuid
	url = git@github.com:mariusbancila/stduuid.git
[submodule "third-party/miniz"]
	path = third-party/miniz
	url = git@github.com:richgel999/miniz.git
